/*

Kohl's Grid Framework for scalable and multi-channel content.

v0.4 - January 13, 2014
- No change

v0.3 - 9/16/2014 
- Updated d0x0 to display block

v0.2  8/19/2014  Change Log:
- Added .grid-wrapper class to multiple classes to be more specific

*/


/***********   SHIFT TO MOBILE LAYOUT   **********/

 @media only screen and (max-width: 768px) { 

	.grid-wrapper{
		min-width: 320px;
		-moz-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
		}

 	.grid-wrapper .grid-content{ 		width: 100%; 	}

 	/* 	UNDO DESKTOP BORDERS	*/
	.grid-wrapper .d-border-top{		border: none;	}
	.grid-wrapper .d-border-right{		border: none;	}
	.grid-wrapper .d-border-bottom{		border: none;	}
	.grid-wrapper .d-border-left{		border: none;	}
	.grid-wrapper .d-border-br{			border: none;	}
	.grid-wrapper .d-border-all{		border: none;	}

	/* 	ADD MOBILE BORDERS 	*/
	.grid-wrapper .m-border-top{		border-top: 1px solid #b7b7b7;		}
	.grid-wrapper .m-border-right{		border-right: 1px solid #b7b7b7;	}
	.grid-wrapper .m-border-bottom{		border-bottom: 1px solid #b7b7b7;	}
	.grid-wrapper .m-border-left{		border-left: 1px solid #b7b7b7;		}
	.grid-wrapper .m-border-br{			border-right: 1px solid #b7b7b7;
										border-bottom: 1px solid #b7b7b7;	}
	.grid-wrapper .m-border-all{		border: 1px solid #b7b7b7;			}
	.grid-wrapper .m-border-none{ 		border: none;						}


	.grid-wrapper .grid-d-display-none{		display: block;	}
	.grid-wrapper .grid-m-display-none{		display: none;	}


	.grid-wrapper .d0x0 {		display: block;	}

	/* 	ADD MOBILE SIZES	*/
    .grid-wrapper .m0x0{		display: none;	}

    	/* 1 X */
	.grid-wrapper .m1x1{		width: 25%; } .grid-wrapper .m1x1:before{		padding-top: 100%;	} 

	/* 2 X */
	.grid-wrapper .m2x1{		width: 25%; } .grid-wrapper .m2x1:before{ 		padding-top: 50%;	}
	.grid-wrapper .m2x2{		width: 25%; } .grid-wrapper .m2x2:before{ 		padding-top: 100%;	}
	.grid-wrapper .m2x3{		width: 25%; } .grid-wrapper .m2x3:before{ 		padding-top: 150%;	}
	.grid-wrapper .m2x4{		width: 25%; } .grid-wrapper .m2x4:before{ 		padding-top: 200%;	}
	.grid-wrapper .m2x5{		width: 25%; } .grid-wrapper .m2x5:before{		padding-top: 250%;	}
	.grid-wrapper .m2x6{		width: 25%; } .grid-wrapper .m2x6:before{ 		padding-top: 300%;	}
	.grid-wrapper .m2x7{		width: 25%; } .grid-wrapper .m2x7:before{		padding-top: 350%;	}
	.grid-wrapper .m2x8{		width: 25%; } .grid-wrapper .m2x8:before{		padding-top: 400%;	}

	/* 4 X */
	.grid-wrapper .m4x1{		width: 50%; } .grid-wrapper .m4x1:before{ 		padding-top: 25%;	}
	.grid-wrapper .m4x2{		width: 50%; } .grid-wrapper .m4x2:before{ 		padding-top: 50%;	}
	.grid-wrapper .m4x3{		width: 50%; } .grid-wrapper .m4x3:before{ 		padding-top: 75%;	}
	.grid-wrapper .m4x4{		width: 50%; } .grid-wrapper .m4x4:before{ 		padding-top: 100%;	}
	.grid-wrapper .m4x5{		width: 50%; } .grid-wrapper .m4x5:before{ 		padding-top: 125%;	}
	.grid-wrapper .m4x6{		width: 50%; } .grid-wrapper .m4x6:before{ 		padding-top: 150%;	}
	.grid-wrapper .m4x7{		width: 50%; } .grid-wrapper .m4x7:before{ 		padding-top: 175%;	}
	.grid-wrapper .m4x8{		width: 50%; } .grid-wrapper .m4x8:before{ 		padding-top: 200%;	}

	/* 8 X */
	.grid-wrapper .m8x1{		width: 100%; } .grid-wrapper .m8x1:before{ 		padding-top: 12.5%;		}
	.grid-wrapper .m8x2{		width: 100%; } .grid-wrapper .m8x2:before{ 		padding-top: 25%;		}
	.grid-wrapper .m8x3{		width: 100%; } .grid-wrapper .m8x3:before{ 		padding-top: 37.5%;		}
	.grid-wrapper .m8x4{		width: 100%; } .grid-wrapper .m8x4:before{ 		padding-top: 50%;		}
	.grid-wrapper .m8x5{		width: 100%; } .grid-wrapper .m8x5:before{ 		padding-top: 62.5%;		}
	.grid-wrapper .m8x6{		width: 100%; } .grid-wrapper .m8x6:before{ 		padding-top: 75%;		}
	.grid-wrapper .m8x7{		width: 100%; } .grid-wrapper .m8x7:before{ 		padding-top: 87.5%;		}
	.grid-wrapper .m8x8{		width: 100%; } .grid-wrapper .m8x8:before{ 		padding-top: 100%;		}
	.grid-wrapper .m8x9{		width: 100%; } .grid-wrapper .m8x9:before{		padding-top: 112.5%;	}
	.grid-wrapper .m8x10{		width: 100%; } .grid-wrapper .m8x10:before{		padding-top: 125%;		}
	.grid-wrapper .m8x11{		width: 100%; } .grid-wrapper .m8x11:before{		padding-top: 137.5%;	}
	.grid-wrapper .m8x12{		width: 100%; } .grid-wrapper .m8x12:before{		padding-top: 150%;		}
	.grid-wrapper .m8x13{		width: 100%; } .grid-wrapper .m8x13:before{		padding-top: 162.5%;	}
	.grid-wrapper .m8x14{		width: 100%; } .grid-wrapper .m8x14:before{		padding-top: 175%;		}
	.grid-wrapper .m8x15{		width: 100%; } .grid-wrapper .m8x15:before{		padding-top: 187.5%;	}
	.grid-wrapper .m8x16{		width: 100%; } .grid-wrapper .m8x16:before{		padding-top: 200%;		}
	.grid-wrapper .m8x42{		width:100%;	 } .grid-wrapper .m8x42:before{		padding-top:473.6%;		}

	.grid-wrapper .grid-gap{
		height: 1em;
		}

	}



