
body{
	margin: 0;
	padding: 0;
}

/* fixes footer width */
.lowernav_col_three{
	float: right;
}
#footer,
#footer .lowernav{
	width: 1024px;
}
.socialstuff{
	width: 315px;
}

#top-nav{
	display: none;
	}
#equity-banner{
	height: 0px;
	}

#persistent_bar_container{
	margin-top: 37px !important;
}

.grid-wrapper-tablet {
	width: 100%;
	position: absolute !important;
	top: 40px;
	margin: auto;
	float: none !important;
	z-index: 1000;
	left: 0;
	min-width: 769px;
	}

.grid-wrapper-mobile{
	width: 360px;
	position: relative !important;
	top: 37px;
	margin: auto;
	float: none !important;
	z-index: 1000;
	left: 50%;
	margin-left: -180px;
	}



#lp-frame {
	width: 1024px;
	background: white;
	margin-top: 30px;
	background-image: url('http://kohlscorporation-dev/z-digital-marketing-wiki/boilerplate-landing-page/images/left-nav-fpo.jpg');
	background-repeat: no-repeat;
	background-position: 0px -10px;
}

#select-grid-width{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 10000;
	margin: 0;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa000000', endColorstr='#aa000000',GradientType=0 ); /* IE6-8 */
	background: rgba(0,0,0,0.8);
	border-bottom: 1px solid black;
	font-family: Helvetica, Arial, sans-serif;
	
	text-align: center;
	
	font-size: 14px;
	-webkit-user-select: none;
	cursor: pointer;
	text-align: center;
	}
#select-grid-width li{
	display: inline-block;
	padding: 10px;
	color: white;
	letter-spacing: 1px;
	text-shadow: 0px 1px 2px black;
	font-size: 12px;
	}
#select-grid-width li:hover{
	color: #1282ff;
	}
#select-grid-width li.active{
	background: rgba(0,0,0,0.5);
	border-left: 1px solid black;
	border-right: 1px solid black;
	color: #1282ff;
	}


.hide-kohls #equity-banner, .hide-kohls #footer, .hide-kohls #header {
display: none;
}

