


/*! wreckedangles.css v 0.1 | MIT License | github.com/CorySchulz/Rect */


/****************************************
			BASIC GRID SKELETON
/****************************************/

.grid-wrapper{
	font-size: 16px;
	position: relative;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	}


/* 1024px is the standard size to design for */ 
.grid-wrapper-1024px{
	width: 1024px; 
	margin: auto;
	}
.grid-wrapper-1024px .grid-content{		font-size: 100%;	}

.grid-wrapper-100pct{
	width:100%;
	}

.grid-wrapper .grid-content{
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	background: transparent;
	position: relative;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	line-height: normal;
	float: left;
	}

.grid-content .grid-box{
	display: block;
	padding: 0;
	margin: 0;
	overflow: hidden;
	float: left;
	height: auto;
	position: relative;
	}

 .grid-content .grid-box:before{
	content: "";
	display: block;
	}

.grid-content .grid-box a{
	text-decoration: none;
	}

.grid-box .box-content{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	}

.grid-box .box-content .box-bg-image{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	}


/*    GAP BETWEEN BOXES    */
.grid-wrapper .grid-gap{		
	width: 100%;
	display: block;
	padding: 0;
	margin: 0;
	overflow: hidden;
	float: left;
	height: 2em;
	}

/*    GRID COLOR BAR    */
.grid-wrapper .grid-hr{
	display: block;
	padding: 0;
	margin: 0;
	overflow: hidden;
	float: left;
	position: relative;
	width: 100%; 
	height: 0.5em;
	background: #b5b4b4;
	}


/****************************************
			BORDER HELPERS
			d- for desktop
			m- for mobile
/****************************************/

.grid-wrapper .d-border-top,
.grid-wrapper .d-border-t,
.grid-wrapper .d-border-trb,
.grid-wrapper .d-border-tl,
.grid-wrapper .d-border-tr,
.grid-wrapper .d-border-tb,
.grid-wrapper .d-border-trl
{		border-top: 1px solid #b7b7b7;		}

.grid-wrapper .d-border-right,
.grid-wrapper .d-border-r,
.grid-wrapper .d-border-rbl,
.grid-wrapper .d-border-trb,
.grid-wrapper .d-border-rl,
.grid-wrapper .d-border-tr,
.grid-wrapper .d-border-br,
.grid-wrapper .d-border-rb,
.grid-wrapper .d-border-trl
{		border-right: 1px solid #b7b7b7;	}

.grid-wrapper .d-border-bottom,
.grid-wrapper .d-border-b,
.grid-wrapper .d-border-tb,
.grid-wrapper .d-border-rbl,
.grid-wrapper .d-border-trb,
.grid-wrapper .d-border-bl,
.grid-wrapper .d-border-br,
.grid-wrapper .d-border-rb
{		border-bottom: 1px solid #b7b7b7;	}

.grid-wrapper .d-border-left,
.grid-wrapper .d-border-l,
.grid-wrapper .d-border-rbl,
.grid-wrapper .d-border-bl,
.grid-wrapper .d-border-tl,
.grid-wrapper .d-border-rl,
.grid-wrapper .d-border-trl
{		border-left: 1px solid #b7b7b7;		}


/*   ALL OR NONE   */
.grid-wrapper .d-border-all{		border: 1px solid #b7b7b7;			}

.grid-wrapper .d-border-none{ 		border: none !important;			}



/****************************************
			BUTTON HELPERS
			.box-bottom-button for bottom buttons
			.box-bottom-text for bottom text
/****************************************/

/*   BOTTOM BUTTON CLASSES   */
.grid-wrapper .box-bottom-button {
	position: absolute;
	display: block;
	left: 0;
	bottom: 0;
	width: 100%;
	margin: 0;
	padding: 2.1em 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);

	/* IE6-8 */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26ffffff', endColorstr='#26ffffff',GradientType=0 ); 
	background: rgba(255, 255, 255, .1);

	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	line-height: 100%;
	font-size: 0.75em;
	text-align: center;
	text-decoration: none;

	-webkit-transition: background .4s ease-out;
	-moz-transition: background .4s ease-out;
	-ms-transition: background .4s ease-out;
	-o-transition: background .4s ease-out;
	transition: background .4s ease-out;

	user-select: none;
	-moz-user-select: none;
 	-webkit-user-select: none;
  	-ms-user-select: none;
  	cursor: pointer;
	}

/*.grid-wrapper .box-bottom-button:hover,
.grid-wrapper .box-bottom-button:active,
.grid-wrapper .box-bottom-button:focus{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14000000', endColorstr='#14000000',GradientType=0 ); 
	background: rgba(0, 0, 0, 0.4);
	}*/


.grid-wrapper .box-bottom-text,
.grid-wrapper .box-bottom-text-white,
.grid-wrapper .box-bottom-text-two-lines {
	margin: 0;
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 0;
	padding: 2.1em 0;
	border: none;
	background: transparent;
	color: #fff;
	text-transform: uppercase;
	font-size: .75em;
	text-align: center;
	letter-spacing: 0.1em;
	line-height: 100%;
	

	-webkit-transition: background .4s ease-out;
	-moz-transition: background .4s ease-out;
	-ms-transition: background .4s ease-out;
	-o-transition: background .4s ease-out;
	transition: background .4s ease-out;

	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	}

.grid-wrapper .box-bottom-text-two-lines {
	padding: 1.46em 0;
	}

.box-content .box-bottom-text-white{
	color: black;
	background: rgb(255,255,255);
	background: rgba(255,255,255,0.8);
	}

.grid-wrapper .box-bottom-button:hover,
.grid-wrapper .box-bottom-button:active,
.grid-wrapper .box-bottom-button:focus,
.box-content:hover > .box-bottom-text-two-lines,
.box-content:focus > .box-bottom-text-two-lines,
.box-content:hover > a > .box-bottom-text-two-lines,
.box-content:focus > a > .box-bottom-text-two-lines,
.box-content:hover > .box-bottom-text,
.box-content:focus > .box-bottom-text,
.box-content:hover > a > .box-bottom-text,
.box-content:focus > a > .box-bottom-text{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14000000', endColorstr='#14000000',GradientType=0 ); /* IE6-8 */
	background: rgba(0,0,0,0.4);
	}

.box-content:hover > .box-bottom-text-white,
.box-content:focus > .box-bottom-text-white{
	background: rgb(255,255,255);
	background: rgba(255,255,255,0.95);
	}


/*  FLOATING BUTTON  */
.grid-wrapper .box-floating-button {
	position: absolute;
	left: 50%;
	width: 50%;
	margin-left: -25%;
	bottom: 1.3em;
	padding: 1.1em 0;
	border: 1px solid black;
	background: #fff;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	font-size: 0.875em;
	-webkit-transition: background .6s ease-out;
	-moz-transition: background .6s ease-out;
	-ms-transition: background .6s ease-out;
	-o-transition: background .6s ease-out;
	transition: background .6s ease-out;
	}


/*  FLOATING BUTTON SIZES BY WIDTH OF THE BOX */
.grid-wrapper .box-float-button-20{	left: 50%;	width: 20%;	margin-left: -10%;		}
.grid-wrapper .box-float-button-25{	left: 50%;	width: 25%;	margin-left: -12.5%;	}
.grid-wrapper .box-float-button-30{	left: 50%;	width: 30%;	margin-left: -15%;		}
.grid-wrapper .box-float-button-40{	left: 50%;	width: 40%;	margin-left: -20%;		}
.grid-wrapper .box-float-button-50{	left: 50%;	width: 50%;	margin-left: -25%;		}
.grid-wrapper .box-float-button-60{	left: 50%;	width: 60%;	margin-left: -30%;		}
.grid-wrapper .box-float-button-70{	left: 50%;	width: 70%;	margin-left: -35%;		}
.grid-wrapper .box-float-button-80{	left: 50%;	width: 80%;	margin-left: -40%;		}
.grid-wrapper .box-float-button-90{	left: 50%;	width: 90%;	margin-left: -45%;		}




					/*    FONT HELPERS    */
.grid-wrapper .grid-content .grid-font-white{		color: white;				}
.grid-wrapper .grid-content .grid-font-gray,
.grid-wrapper .grid-content .grid-font-grey{		color: #808080;				}
.grid-wrapper .grid-content .grid-font-black{		color: black;				}


.grid-wrapper .grid-content .grid-font-center{		text-align: center; 		}
.grid-wrapper .grid-content .grid-font-left{		text-align: left; 			}
.grid-wrapper .grid-content .grid-font-right{		text-align: right; 			}

.grid-wrapper .grid-content .grid-font-underline,
.grid-wrapper .grid-content .grid-font-ul{		text-decoration: underline; }
.grid-wrapper .grid-content .grid-font-uppercase,
.grid-wrapper .grid-content .grid-font-uc{			text-transform: uppercase;	}

.grid-wrapper .grid-font-normal { 			font-weight: bold;	}
.grid-wrapper .grid-font-bold{ 				font-weight: normal	}


/*    LINE-HEIGHT HELPERS    */
/*.grid-wrapper .grid-content .grid-line-height110 { line-height:110% }
.grid-wrapper .grid-content .grid-line-height120 { line-height:120% }
.grid-wrapper .grid-content .grid-line-height130 { line-height:130% }
.grid-wrapper .grid-content .grid-line-height140 { line-height:140% }
.grid-wrapper .grid-content .grid-line-height150 { line-height:150% }
.grid-wrapper .grid-content .grid-line-height160 { line-height:160% }*/


/* 	ADD THE "grid-vertically-centered-text" CLASS TO A DIV
	AND THEN USE A <p> TAG INSIDE TO VERTICALLY CENTER TEXT. */
.grid-wrapper .grid-vertically-centered-text,
.grid-wrapper .grid-vct { 
	position: absolute; 
	left: 0; 
	top: 0; 
	width: 100%; 
	height: 100%; 
	display: table; 
	}

.grid-wrapper .grid-vertically-centered-text > *,
.grid-wrapper .grid-vct > * {
	display: table-cell; 
	vertical-align: middle; 
	text-align: center; 
	}

/*  HOVER HELPERS  */
.grid-wrapper .grid-hover-text-white:hover{		color: white; 		}
.grid-wrapper .grid-hover-text-black:hover{		color: black; 		}
.grid-wrapper .grid-hover-bg-white:hover{		background: white;	}
.grid-wrapper .grid-hover-bg-black:hover{		background: black;	}


/* SOLID BOX COLORS */
.grid-wrapper .grid-box-black {	background: #000; color: white; }


/*    SCALABLE FONT CLASSES    *//*
.grid-wrapper .grid-font-8{			font-size: 0.5em	}
.grid-wrapper .grid-font-9{			font-size: 0.5625em	}
.grid-wrapper .grid-font-10{		font-size: 0.625em	}
.grid-wrapper .grid-font-11{		font-size: 0.6875em	}
.grid-wrapper .grid-font-12{		font-size: 0.75em	}
.grid-wrapper .grid-font-13{		font-size: 0.8125em	}
.grid-wrapper .grid-font-14{		font-size: 0.875em	}
.grid-wrapper .grid-font-15{		font-size: 0.9375em	}
.grid-wrapper .grid-font-16{		font-size: 1em		}
.grid-wrapper .grid-font-17{		font-size: 1.0625em	}
.grid-wrapper .grid-font-18{		font-size: 1.125em	}
.grid-wrapper .grid-font-19{		font-size: 1.1875em	}
.grid-wrapper .grid-font-20{		font-size: 1.25em	}
.grid-wrapper .grid-font-21{		font-size: 1.3125em	}
.grid-wrapper .grid-font-22{		font-size: 1.375em	}
.grid-wrapper .grid-font-23{		font-size: 1.4375em	}
.grid-wrapper .grid-font-24{		font-size: 1.5em	}
.grid-wrapper .grid-font-26{		font-size: 1.625em	}
.grid-wrapper .grid-font-28{		font-size: 1.75em	}
.grid-wrapper .grid-font-30{		font-size: 1.875em	}
.grid-wrapper .grid-font-32{		font-size: 2em		}
.grid-wrapper .grid-font-34{		font-size: 2.125em	}
.grid-wrapper .grid-font-36{		font-size: 2.25em	}
.grid-wrapper .grid-font-38{		font-size: 2.375em	}
.grid-wrapper .grid-font-40{		font-size: 2.5em	}
.grid-wrapper .grid-font-42{		font-size: 2.625em	}
.grid-wrapper .grid-font-44{		font-size: 2.75em	}
.grid-wrapper .grid-font-46{		font-size: 2.875em	}
.grid-wrapper .grid-font-48{		font-size: 3em		}
.grid-wrapper .grid-font-50{		font-size: 3.125em	}
.grid-wrapper .grid-font-52{		font-size: 3.25em	}
.grid-wrapper .grid-font-54{		font-size: 3.375em	}
.grid-wrapper .grid-font-56{		font-size: 3.5em	}
.grid-wrapper .grid-font-58{		font-size: 3.625em	}
.grid-wrapper .grid-font-60{		font-size: 3.75em	}
.grid-wrapper .grid-font-62{		font-size: 3.875em	}
.grid-wrapper .grid-font-64{		font-size: 4em		}
.grid-wrapper .grid-font-66{		font-size: 4.125em	}
.grid-wrapper .grid-font-68{		font-size: 4.25em	}
.grid-wrapper .grid-font-70{		font-size: 4.375em	}
.grid-wrapper .grid-font-72{		font-size: 4.5em	}
.grid-wrapper .grid-font-74{		font-size: 4.625em	}
.grid-wrapper .grid-font-76{		font-size: 4.75em	}
.grid-wrapper .grid-font-78{		font-size: 4.875em	}
.grid-wrapper .grid-font-80{		font-size: 5em		}
.grid-wrapper .grid-font-82{		font-size: 5.125em	}
.grid-wrapper .grid-font-84{		font-size: 5.25em	}
.grid-wrapper .grid-font-86{		font-size: 5.375em	}
.grid-wrapper .grid-font-88{		font-size: 5.5em	}
.grid-wrapper .grid-font-90{		font-size: 5.625em	}
.grid-wrapper .grid-font-92{		font-size: 5.75em	}
.grid-wrapper .grid-font-94{		font-size: 5.875em	}
.grid-wrapper .grid-font-96{		font-size: 6em		}
.grid-wrapper .grid-font-98{		font-size: 6.125em	}
.grid-wrapper .grid-font-100{		font-size: 6.25em	}
.grid-wrapper .grid-font-102{		font-size: 6.375em	}
.grid-wrapper .grid-font-104{		font-size: 6.5em	}
.grid-wrapper .grid-font-106{		font-size: 6.625em	}
.grid-wrapper .grid-font-108{		font-size: 6.75em	}
.grid-wrapper .grid-font-110{		font-size: 6.875em	}
.grid-wrapper .grid-font-112{		font-size: 7em		}
.grid-wrapper .grid-font-114{		font-size: 7.125em	}
.grid-wrapper .grid-font-116{		font-size: 7.25em	}
.grid-wrapper .grid-font-118{		font-size: 7.375em	}
.grid-wrapper .grid-font-120{		font-size: 7.5em	}
.grid-wrapper .grid-font-122{		font-size: 7.625em	}
.grid-wrapper .grid-font-124{		font-size: 7.75em	}
.grid-wrapper .grid-font-126{		font-size: 7.875em	}
.grid-wrapper .grid-font-128{		font-size: 8em		}
.grid-wrapper .grid-font-130{		font-size: 8.125em	}
.grid-wrapper .grid-font-132{		font-size: 8.25em	}
.grid-wrapper .grid-font-134{		font-size: 8.375em	}
.grid-wrapper .grid-font-136{		font-size: 8.5em	}
.grid-wrapper .grid-font-138{		font-size: 8.625em	}
.grid-wrapper .grid-font-140{		font-size: 8.75em	}
.grid-wrapper .grid-font-142{		font-size: 8.875em	}
.grid-wrapper .grid-font-144{		font-size: 9em		}
.grid-wrapper .grid-font-146{		font-size: 9.125em	}
.grid-wrapper .grid-font-148{		font-size: 9.25em	}
.grid-wrapper .grid-font-150{		font-size: 9.375em	}
.grid-wrapper .grid-font-152{		font-size: 9.5em	}
.grid-wrapper .grid-font-154{		font-size: 9.625em	}
.grid-wrapper .grid-font-156{		font-size: 9.75em	}
.grid-wrapper .grid-font-158{		font-size: 9.875em	}
.grid-wrapper .grid-font-160{		font-size: 10em		}
.grid-wrapper .grid-font-162{		font-size: 10.125em	}
.grid-wrapper .grid-font-164{		font-size: 10.25em	}
.grid-wrapper .grid-font-166{		font-size: 10.375em	}
.grid-wrapper .grid-font-168{		font-size: 10.5em	}
.grid-wrapper .grid-font-170{		font-size: 10.625em	}
.grid-wrapper .grid-font-172{		font-size: 10.75em	}
.grid-wrapper .grid-font-174{		font-size: 10.875em	}
.grid-wrapper .grid-font-176{		font-size: 11em		}
.grid-wrapper .grid-font-178{		font-size: 11.125em	}
.grid-wrapper .grid-font-180{		font-size: 11.25em	}
.grid-wrapper .grid-font-182{		font-size: 11.375em	}
.grid-wrapper .grid-font-184{		font-size: 11.5em	}
.grid-wrapper .grid-font-186{		font-size: 11.625em	}
.grid-wrapper .grid-font-188{		font-size: 11.75em	}
.grid-wrapper .grid-font-190{		font-size: 11.875em	}
.grid-wrapper .grid-font-192{		font-size: 12em		}
.grid-wrapper .grid-font-194{		font-size: 12.125em	}
.grid-wrapper .grid-font-196{		font-size: 12.25em	}
.grid-wrapper .grid-font-198{		font-size: 12.375em	}
.grid-wrapper .grid-font-200{		font-size: 12.5em	}
*/

/* 0 X */
.grid-wrapper .d0x0 { display: none; }

/* 2 X */
.grid-wrapper .d2x1{		width: 12.5%; } .grid-wrapper .d2x1:before{		padding-top: 50%;	}
.grid-wrapper .d2x2{		width: 12.5%; } .grid-wrapper .d2x2:before{		padding-top: 100%;	}
.grid-wrapper .d2x3{		width: 12.5%; } .grid-wrapper .d2x3:before{		padding-top: 150%; 	}
.grid-wrapper .d2x4{		width: 12.5%; } .grid-wrapper .d2x4:before{		padding-top: 200%; 	}
.grid-wrapper .d2x5{		width: 12.5%; } .grid-wrapper .d2x5:before{		padding-top: 250%; 	}
.grid-wrapper .d2x6{		width: 12.5%; } .grid-wrapper .d2x6:before{ 	padding-top: 300%; 	}
.grid-wrapper .d2x7{		width: 12.5%; } .grid-wrapper .d2x7:before{		padding-top: 350%; 	}
.grid-wrapper .d2x8{		width: 12.5%; } .grid-wrapper .d2x8:before{		padding-top: 400%; 	}
.grid-wrapper .d2x9{		width: 12.5%; } .grid-wrapper .d2x9:before{		padding-top: 450%; 	}
.grid-wrapper .d2x10{		width: 12.5%; } .grid-wrapper .d2x10:before{ 	padding-top: 500%; 	}
.grid-wrapper .d2x11{		width: 12.5%; } .grid-wrapper .d2x11:before{ 	padding-top: 550%; 	}
.grid-wrapper .d2x12{		width: 12.5%; } .grid-wrapper .d2x12:before{ 	padding-top: 600%; 	}
.grid-wrapper .d2x13{		width: 12.5%; } .grid-wrapper .d2x13:before{ 	padding-top: 650%; 	}
.grid-wrapper .d2x14{		width: 12.5%; } .grid-wrapper .d2x14:before{ 	padding-top: 700%; 	}
.grid-wrapper .d2x15{		width: 12.5%; } .grid-wrapper .d2x15:before{ 	padding-top: 750%; 	}
.grid-wrapper .d2x16{		width: 12.5%; } .grid-wrapper .d2x16:before{ 	padding-top: 800%; 	}

/* 3 X */
.grid-wrapper .d3x1{		width: 18.75%; } .grid-wrapper .d3x1:before{	padding-top: 33.3%;		}
.grid-wrapper .d3x2{		width: 18.75%; } .grid-wrapper .d3x2:before{	padding-top: 66.6%;		}
.grid-wrapper .d3x3{		width: 18.75%; } .grid-wrapper .d3x3:before{ 	padding-top: 100%;		}
.grid-wrapper .d3x4{		width: 18.75%; } .grid-wrapper .d3x4:before{	padding-top: 133.3%;	}
.grid-wrapper .d3x5{		width: 18.75%; } .grid-wrapper .d3x5:before{ 	padding-top: 166.6%;	}
.grid-wrapper .d3x6{		width: 18.75%; } .grid-wrapper .d3x6:before{ 	padding-top: 200%;		}
.grid-wrapper .d3x7{		width: 18.75%; } .grid-wrapper .d3x7:before{ 	padding-top: 233.3%;	}
.grid-wrapper .d3x8{		width: 18.75%; } .grid-wrapper .d3x8:before{ 	padding-top: 266.6%;	}
.grid-wrapper .d3x9{		width: 18.75%; } .grid-wrapper .d3x9:before{ 	padding-top: 300%;		}
.grid-wrapper .d3x10{		width: 18.75%; } .grid-wrapper .d3x10:before{ 	padding-top: 333.3%;	}
.grid-wrapper .d3x11{		width: 18.75%; } .grid-wrapper .d3x11:before{ 	padding-top: 366.6%;	}
.grid-wrapper .d3x12{		width: 18.75%; } .grid-wrapper .d3x12:before{ 	padding-top: 400%;		}
.grid-wrapper .d3x13{		width: 18.75%; } .grid-wrapper .d3x13:before{ 	padding-top: 433.3%;	}
.grid-wrapper .d3x14{		width: 18.75%; } .grid-wrapper .d3x14:before{ 	padding-top: 466.6%;	}
.grid-wrapper .d3x15{		width: 18.75%; } .grid-wrapper .d3x15:before{ 	padding-top: 500%;		}
.grid-wrapper .d3x16{		width: 18.75%; } .grid-wrapper .d3x16:before{ 	padding-top: 533.3%;	}

/* 4 X */
.grid-wrapper .d4x1{		width: 25%; } .grid-wrapper .d4x1:before{		padding-top: 25%; 	}
.grid-wrapper .d4x2{		width: 25%; } .grid-wrapper .d4x2:before{		padding-top: 50%; 	}
.grid-wrapper .d4x3{		width: 25%; } .grid-wrapper .d4x3:before{ 		padding-top: 75%; 	}
.grid-wrapper .d4x4{		width: 25%; } .grid-wrapper .d4x4:before{ 		padding-top: 100%;	}
.grid-wrapper .d4x5{		width: 25%; } .grid-wrapper .d4x5:before{ 		padding-top: 125%;	}
.grid-wrapper .d4x6{		width: 25%; } .grid-wrapper .d4x6:before{ 		padding-top: 150%;	}
.grid-wrapper .d4x7{		width: 25%; } .grid-wrapper .d4x7:before{ 		padding-top: 175%;	}
.grid-wrapper .d4x8{		width: 25%; } .grid-wrapper .d4x8:before{ 		padding-top: 200%;	}
.grid-wrapper .d4x9{		width: 25%; } .grid-wrapper .d4x9:before{ 		padding-top: 225%;	}
.grid-wrapper .d4x10{		width: 25%; } .grid-wrapper .d4x10:before{ 		padding-top: 250%;	}
.grid-wrapper .d4x11{		width: 25%; } .grid-wrapper .d4x11:before{ 		padding-top: 275%;	}
.grid-wrapper .d4x12{		width: 25%; } .grid-wrapper .d4x12:before{ 		padding-top: 300%;	}
.grid-wrapper .d4x13{		width: 25%; } .grid-wrapper .d4x13:before{ 		padding-top: 325%;	}
.grid-wrapper .d4x14{		width: 25%; } .grid-wrapper .d4x14:before{ 		padding-top: 350%;	}
.grid-wrapper .d4x15{		width: 25%; } .grid-wrapper .d4x15:before{ 		padding-top: 375%;	}
.grid-wrapper .d4x16{		width: 25%; } .grid-wrapper .d4x16:before{ 		padding-top: 400%;	}

/* 5 X */
.grid-wrapper .d5x1{		width: 31.25%;	}	.grid-wrapper .d5x1:before{ 		padding-top: 20%;	}
.grid-wrapper .d5x2{		width: 31.25%;	}	.grid-wrapper .d5x2:before{ 		padding-top: 40%;	}
.grid-wrapper .d5x3{		width: 31.25%;	}	.grid-wrapper .d5x3:before{ 		padding-top: 60%;	}
.grid-wrapper .d5x4{		width: 31.25%;	}	.grid-wrapper .d5x4:before{ 		padding-top: 80%;	}
.grid-wrapper .d5x5{		width: 31.25%;	}	.grid-wrapper .d5x5:before{ 		padding-top: 100%;	}
.grid-wrapper .d5x6{		width: 31.25%; 	}	.grid-wrapper .d5x6:before{			padding-top: 120%;	}
.grid-wrapper .d5x7{		width: 31.25%; 	}	.grid-wrapper .d5x7:before{			padding-top: 140%;	}
.grid-wrapper .d5x8{		width: 31.25%; 	}	.grid-wrapper .d5x8:before{			padding-top: 160%;	}
.grid-wrapper .d5x9{		width: 31.25%; 	}	.grid-wrapper .d5x9:before{			padding-top: 180%;	}
.grid-wrapper .d5x10{		width: 31.25%; 	}	.grid-wrapper .d5x10:before{		padding-top: 200%;	}

/* 6 X */
.grid-wrapper .d6x1{		width: 37.5%; } .grid-wrapper .d6x1:before{		padding-top: 16.667%; 	}
.grid-wrapper .d6x2{		width: 37.5%; } .grid-wrapper .d6x2:before{		padding-top: 33.334%; 	}
.grid-wrapper .d6x3{		width: 37.5%; } .grid-wrapper .d6x3:before{		padding-top: 50%; 		}
.grid-wrapper .d6x4{		width: 37.5%; } .grid-wrapper .d6x4:before{		padding-top: 66.667%; 	}
.grid-wrapper .d6x5{		width: 37.5%; } .grid-wrapper .d6x5:before{		padding-top: 83.334%; 	}
.grid-wrapper .d6x6{		width: 37.5%; } .grid-wrapper .d6x6:before{		padding-top: 100%; 		}
.grid-wrapper .d6x7{		width: 37.5%; } .grid-wrapper .d6x7:before{		padding-top: 116.667%; 	}
.grid-wrapper .d6x8{		width: 37.5%; } .grid-wrapper .d6x8:before{		padding-top: 133.334%; 	}

/* 7 X */
.grid-wrapper .d7x1{		width: 43.75%; } .grid-wrapper .d7x1:before{ 	padding-top: 14.285%; 	}
.grid-wrapper .d7x2{		width: 43.75%; } .grid-wrapper .d7x2:before{ 	padding-top: 28.571%; 	}
.grid-wrapper .d7x3{		width: 43.75%; } .grid-wrapper .d7x3:before{ 	padding-top: 42.857%; 	}
.grid-wrapper .d7x4{		width: 43.75%; } .grid-wrapper .d7x4:before{ 	padding-top: 57.142%; 	}
.grid-wrapper .d7x5{		width: 43.75%; } .grid-wrapper .d7x5:before{ 	padding-top: 71.428%; 	}
.grid-wrapper .d7x6{		width: 43.75%; } .grid-wrapper .d7x6:before{ 	padding-top: 85.714%; 	}
.grid-wrapper .d7x7{		width: 43.75%; } .grid-wrapper .d7x7:before{ 	padding-top: 100%		}
.grid-wrapper .d7x8{		width: 43.75%; } .grid-wrapper .d7x8:before{ 	padding-top: 114.285%; 	}

/* 8 X */
.grid-wrapper .d8x1{		width: 50%; } .grid-wrapper .d8x1:before{		padding-top: 12.5%;		}
.grid-wrapper .d8x2{		width: 50%; } .grid-wrapper .d8x2:before{		padding-top: 25%;		}
.grid-wrapper .d8x3{		width: 50%; } .grid-wrapper .d8x3:before{		padding-top: 37.5%;		}
.grid-wrapper .d8x4{		width: 50%; } .grid-wrapper .d8x4:before{		padding-top: 50%;		}
.grid-wrapper .d8x5{		width: 50%; } .grid-wrapper .d8x5:before{		padding-top: 62.5%;		}
.grid-wrapper .d8x6{		width: 50%; } .grid-wrapper .d8x6:before{		padding-top: 75%;		}
.grid-wrapper .d8x7{		width: 50%; } .grid-wrapper .d8x7:before{		padding-top: 87.5%;		}
.grid-wrapper .d8x8{		width: 50%; } .grid-wrapper .d8x8:before{		padding-top: 100%;		}
.grid-wrapper .d8x9{		width: 50%; } .grid-wrapper .d8x9:before{		padding-top: 112.5%;	}
.grid-wrapper .d8x10{		width: 50%; } .grid-wrapper .d8x10:before{		padding-top: 125%;		}
.grid-wrapper .d8x11{		width: 50%; } .grid-wrapper .d8x11:before{		padding-top: 137.5%;	}
.grid-wrapper .d8x12{		width: 50%; } .grid-wrapper .d8x12:before{		padding-top: 150%;		}
.grid-wrapper .d8x13{		width: 50%; } .grid-wrapper .d8x13:before{		padding-top: 162.5%;	}
.grid-wrapper .d8x14{		width: 50%; } .grid-wrapper .d8x14:before{		padding-top: 175%;		}
.grid-wrapper .d8x15{		width: 50%; } .grid-wrapper .d8x15:before{		padding-top: 187.5%;	}
.grid-wrapper .d8x16{		width: 50%; } .grid-wrapper .d8x16:before{		padding-top: 200%;		}
.grid-wrapper .d8x42{		width: 50%; } .grid-wrapper .d8x42:before{		padding-top:473.6%;		}

/* 10 X */
.grid-wrapper .d10x10{		width: 62.5%; } .grid-wrapper .d10x10:before{ 	padding-top: 100%;		}

/* 11 X */
.grid-wrapper .d11x5{		width: 68.75%; } .grid-wrapper .d11x5:before{ 	padding-top: 45.45%;	}

/* 12 X */
.grid-wrapper .d12x3{		width: 75% 		} .grid-wrapper .d12x3:before{	padding-top: 25%;		}
.grid-wrapper .d12x4{		width: 75% 		} .grid-wrapper .d12x4:before{	padding-top: 33.333%;	}
.grid-wrapper .d12x8{		width: 75%; 	} .grid-wrapper .d12x8:before{	padding-top: 66.667%;	}
.grid-wrapper .d12x12{		width: 75%; 	} .grid-wrapper .d12x12:before{	padding-top: 100%;		}

/* 16 X */
.grid-wrapper .d16x0{		width: 100%; } .grid-wrapper .d16x0:before{		padding-top: 0;			}
.grid-wrapper .d16x1{		width: 100%; } .grid-wrapper .d16x1:before{		padding-top: 6.25%;		}
.grid-wrapper .d16x2{		width: 100%; } .grid-wrapper .d16x2:before{		padding-top: 12.5%;		}
.grid-wrapper .d16x3{		width: 100%; } .grid-wrapper .d16x3:before{		padding-top: 18.75%;	}
.grid-wrapper .d16x4{		width: 100%; } .grid-wrapper .d16x4:before{		padding-top: 25%;		}
.grid-wrapper .d16x5{		width: 100%; } .grid-wrapper .d16x5:before{		padding-top: 31.25%;	}
.grid-wrapper .d16x6{		width: 100%; } .grid-wrapper .d16x6:before{		padding-top: 37.5%;		}
.grid-wrapper .d16x7{		width: 100%; } .grid-wrapper .d16x7:before{		padding-top: 43.75%;	}
.grid-wrapper .d16x8{		width: 100%; } .grid-wrapper .d16x8:before{		padding-top: 50%;		}
.grid-wrapper .d16x9{		width: 100%; } .grid-wrapper .d16x9:before{		padding-top: 56.25%;	}
.grid-wrapper .d16x10{		width: 100%; } .grid-wrapper .d16x10:before{	padding-top: 62.5%;		}
.grid-wrapper .d16x11{		width: 100%; } .grid-wrapper .d16x11:before{	padding-top: 68.75%;	}
.grid-wrapper .d16x12{		width: 100%; } .grid-wrapper .d16x12:before{	padding-top: 75%;		}
.grid-wrapper .d16x13{		width: 100%; } .grid-wrapper .d16x13:before{	padding-top: 81.25%;	}
.grid-wrapper .d16x14{		width: 100%; } .grid-wrapper .d16x14:before{	padding-top: 87.5%;		}
.grid-wrapper .d16x15{		width: 100%; } .grid-wrapper .d16x15:before{	padding-top: 93.75%;	}
.grid-wrapper .d16x16{		width: 100%; } .grid-wrapper .d16x16:before{	padding-top: 100%;		}





/***********   SHIFT TO MOBILE LAYOUT   **********/

 @media only screen and (max-width: 768px) { 

	.grid-wrapper{
		min-width: 320px;
		-moz-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
		}

 	.grid-wrapper .grid-content{ 		width: 100%; 	}

 	/* Remove desktop borders */
	.grid-wrapper .d-border-top,
	.grid-wrapper .d-border-t,
	.grid-wrapper .d-border-trb,
	.grid-wrapper .d-border-tl,
	.grid-wrapper .d-border-tr,
	.grid-wrapper .d-border-tb,
	.grid-wrapper .d-border-trl
	{		border-top:  none;		}

	.grid-wrapper .d-border-right,
	.grid-wrapper .d-border-r,
	.grid-wrapper .d-border-rbl,
	.grid-wrapper .d-border-trb,
	.grid-wrapper .d-border-rl,
	.grid-wrapper .d-border-tr,
	.grid-wrapper .d-border-br,
	.grid-wrapper .d-border-rb,
	.grid-wrapper .d-border-trl
	{		border-right:  none;	}

	.grid-wrapper .d-border-bottom,
	.grid-wrapper .d-border-b,
	.grid-wrapper .d-border-tb,
	.grid-wrapper .d-border-rbl,
	.grid-wrapper .d-border-trb,
	.grid-wrapper .d-border-bl,
	.grid-wrapper .d-border-br,
	.grid-wrapper .d-border-rb
	{		border-bottom:  none;	}

	.grid-wrapper .d-border-left,
	.grid-wrapper .d-border-l,
	.grid-wrapper .d-border-rbl,
	.grid-wrapper .d-border-bl,
	.grid-wrapper .d-border-tl,
	.grid-wrapper .d-border-rl,
	.grid-wrapper .d-border-trl
	{		border-left:  none;	}

	.grid-wrapper .d-border-all{		border: none;		}

	/* 	ADD MOBILE BORDERS 	*/
	.grid-wrapper .m-border-top,
	.grid-wrapper .m-border-t,
	.grid-wrapper .m-border-trb,
	.grid-wrapper .m-border-tl,
	.grid-wrapper .m-border-tr,
	.grid-wrapper .m-border-tb,
	.grid-wrapper .m-border-trl
	{		border-top: 1px solid #b7b7b7;		}

	.grid-wrapper .m-border-right,
	.grid-wrapper .m-border-r,
	.grid-wrapper .m-border-rbl,
	.grid-wrapper .m-border-trb,
	.grid-wrapper .m-border-rl,
	.grid-wrapper .m-border-tr,
	.grid-wrapper .m-border-br,
	.grid-wrapper .m-border-rb,
	.grid-wrapper .m-border-trl
	{		border-right: 1px solid #b7b7b7;	}

	.grid-wrapper .m-border-bottom,
	.grid-wrapper .m-border-b,
	.grid-wrapper .m-border-tb,
	.grid-wrapper .m-border-rbl,
	.grid-wrapper .m-border-trb,
	.grid-wrapper .m-border-bl,
	.grid-wrapper .m-border-br,
	.grid-wrapper .m-border-rb
	{		border-bottom: 1px solid #b7b7b7;	}

	.grid-wrapper .m-border-left,
	.grid-wrapper .m-border-l,
	.grid-wrapper .m-border-rbl,
	.grid-wrapper .m-border-bl,
	.grid-wrapper .m-border-tl,
	.grid-wrapper .m-border-rl,
	.grid-wrapper .m-border-trl
	{		border-left: 1px solid #b7b7b7;		}


	/*   ALL OR NONE   */
	.grid-wrapper .m-border-all{		border: 1px solid #b7b7b7;			}

	.grid-wrapper .m-border-none{ 		border: none !important;			}




	/* It's possible something was hidden on desktop but not on mobile */
	.grid-wrapper .d0x0 {		display: block;	}

	/* 	ADD MOBILE SIZES	*/
    .grid-wrapper .m0x0{		display: none;	}

    	/* 1 X */
	.grid-wrapper .m1x1{		width: 25%; } .grid-wrapper .m1x1:before{		padding-top: 100%;	} 

	/* 2 X */
	.grid-wrapper .m2x1{		width: 25%; } .grid-wrapper .m2x1:before{ 		padding-top: 50%;	}
	.grid-wrapper .m2x2{		width: 25%; } .grid-wrapper .m2x2:before{ 		padding-top: 100%;	}
	.grid-wrapper .m2x3{		width: 25%; } .grid-wrapper .m2x3:before{ 		padding-top: 150%;	}
	.grid-wrapper .m2x4{		width: 25%; } .grid-wrapper .m2x4:before{ 		padding-top: 200%;	}
	.grid-wrapper .m2x5{		width: 25%; } .grid-wrapper .m2x5:before{		padding-top: 250%;	}
	.grid-wrapper .m2x6{		width: 25%; } .grid-wrapper .m2x6:before{ 		padding-top: 300%;	}
	.grid-wrapper .m2x7{		width: 25%; } .grid-wrapper .m2x7:before{		padding-top: 350%;	}
	.grid-wrapper .m2x8{		width: 25%; } .grid-wrapper .m2x8:before{		padding-top: 400%;	}

	/* 4 X */
	.grid-wrapper .m4x1{		width: 50%; } .grid-wrapper .m4x1:before{ 		padding-top: 25%;	}
	.grid-wrapper .m4x2{		width: 50%; } .grid-wrapper .m4x2:before{ 		padding-top: 50%;	}
	.grid-wrapper .m4x3{		width: 50%; } .grid-wrapper .m4x3:before{ 		padding-top: 75%;	}
	.grid-wrapper .m4x4{		width: 50%; } .grid-wrapper .m4x4:before{ 		padding-top: 100%;	}
	.grid-wrapper .m4x5{		width: 50%; } .grid-wrapper .m4x5:before{ 		padding-top: 125%;	}
	.grid-wrapper .m4x6{		width: 50%; } .grid-wrapper .m4x6:before{ 		padding-top: 150%;	}
	.grid-wrapper .m4x7{		width: 50%; } .grid-wrapper .m4x7:before{ 		padding-top: 175%;	}
	.grid-wrapper .m4x8{		width: 50%; } .grid-wrapper .m4x8:before{ 		padding-top: 200%;	}

	/* 8 X */
	.grid-wrapper .m8x1{		width: 100%; } .grid-wrapper .m8x1:before{ 		padding-top: 12.5%;		}
	.grid-wrapper .m8x2{		width: 100%; } .grid-wrapper .m8x2:before{ 		padding-top: 25%;		}
	.grid-wrapper .m8x3{		width: 100%; } .grid-wrapper .m8x3:before{ 		padding-top: 37.5%;		}
	.grid-wrapper .m8x4{		width: 100%; } .grid-wrapper .m8x4:before{ 		padding-top: 50%;		}
	.grid-wrapper .m8x5{		width: 100%; } .grid-wrapper .m8x5:before{ 		padding-top: 62.5%;		}
	.grid-wrapper .m8x6{		width: 100%; } .grid-wrapper .m8x6:before{ 		padding-top: 75%;		}
	.grid-wrapper .m8x7{		width: 100%; } .grid-wrapper .m8x7:before{ 		padding-top: 87.5%;		}
	.grid-wrapper .m8x8{		width: 100%; } .grid-wrapper .m8x8:before{ 		padding-top: 100%;		}
	.grid-wrapper .m8x9{		width: 100%; } .grid-wrapper .m8x9:before{		padding-top: 112.5%;	}
	.grid-wrapper .m8x10{		width: 100%; } .grid-wrapper .m8x10:before{		padding-top: 125%;		}
	.grid-wrapper .m8x11{		width: 100%; } .grid-wrapper .m8x11:before{		padding-top: 137.5%;	}
	.grid-wrapper .m8x12{		width: 100%; } .grid-wrapper .m8x12:before{		padding-top: 150%;		}
	.grid-wrapper .m8x13{		width: 100%; } .grid-wrapper .m8x13:before{		padding-top: 162.5%;	}
	.grid-wrapper .m8x14{		width: 100%; } .grid-wrapper .m8x14:before{		padding-top: 175%;		}
	.grid-wrapper .m8x15{		width: 100%; } .grid-wrapper .m8x15:before{		padding-top: 187.5%;	}
	.grid-wrapper .m8x16{		width: 100%; } .grid-wrapper .m8x16:before{		padding-top: 200%;		}
	.grid-wrapper .m8x42{		width:100%;	 } .grid-wrapper .m8x42:before{		padding-top:473.6%;		}

	.grid-wrapper .grid-gap{
		height: 1em;
		}

	}




